@model BusinessJamGuide.Models.Empresas

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Empresas</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Contacto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Contacto)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Morada)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Morada)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CodigoPostal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CodigoPostal)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Localidade)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Localidade)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Website)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Website)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AreaDeFoco)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AreaDeFoco)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
